backend/log/
backend/vendor/
backend/config/.env
backend/public/images
backend/public/images/thumbnails/*
backend/public/images/uploads/*
backend/public/nextjs/

frontend/.next/
frontend/out/
frontend/node_modules/
